<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cập Nhật Nhân Viên</title>
    <link rel="stylesheet" href="{%static 'app/css/update_employee.css'%}" />
  </head>
  <body>
    <header>
      <h1>Cập Nhật Nhân Viên</h1>
    </header>
    <main>
      <form>
        <label for="ma_nv">Mã NV:</label><br />
        <input type="text" id="ma_nv" name="ma_nv" /><br />
        <label for="ho_ten">Họ Tên:</label><br />
        <input type="text" id="ho_ten" name="ho_ten" /><br />
        <label for="luong_co_ban">Lương Cơ Bản:</label><br />
        <input type="text" id="luong_co_ban" name="luong_co_ban" /><br />
        <label for="loai_nv">Loại NV:</label><br />
        <select id="loai_nv" name="loai_nv">
          <option value="van_phong">Văn Phòng</option>
          <option value="san_xuat">Sản Xuất</option>
          <option value="quan_ly">Quản Lý</option>
        </select><br>
        <label for="so_gio_lam">Số giờ làm </label><br>
        <input type="text" id="so_gio_lam" name="so_gio_lam" /><br />
        <label for="so_sp">Số sản phẩm</label><br>
        <input type="text" id="so_sp" name="so_sp" /><br />
        <label for="he_so_cv">Hệ số cv</label><br>
        <input type="text" id="he_so_cv" name="he_so_cv" /><br />
        <label for="thuong">Thưởng</label><br>
        <input type="text" id="thuong" name="thuong" /><br />
        <br /><br />
        <input type="submit" value="Cập Nhật" />
      </form>
    </main>
  </body>
</html>
