{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xem Danh Sách Nhân Viên</title>
    <link href="{%static 'app/css/view_employee.css'%}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Xem Danh Sách Nhân Viên</h1>
    </header>
    <main>
      <table>
        <tr>
          <th>Mã NV</th>
          <th>Họ Tên</th>
          <th>Lương Cơ Bản</th>
          <th>Số giờ làm</th>
          <th>Số sản phẩm</th>
          <th>Hệ số chức vụ</th>
          <th>Thưởng</th>
          <th>Lương hàng tháng</th>
        </tr>
        {% for nv in ds_nv %}
        <tr>
          <td>{{ nv.ma_nv }}</td>
          <td>{{ nv.ho_ten }}</td>
          <td>{{ nv.luong_cb }}</td> 
          <td>{{ nv.so_gio_lam }}</td>
          <td>{{ nv.so_sp }}</td>
          <td>{{ nv.he_so_cv }}</td>
          <td>{{ nv.thuong }}</td>
          <td>{{ nv.luong_ht }}</td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
