{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xem Danh Sách Nhân Viên</title>
    <link href="{%static 'app/css/view_employee.css'%}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Xem Danh Sách Nhân Viên</h1>
    </header>
    <main>
      <table>
        <tr>
          <th>Mã NV</th>
          <th>Họ Tên</th>
          <th>Lương Cơ Bản</th>
          <th>Số giờ làm</th>
          <th>Số sản phẩm</th>
          <th>Hệ số chức vụ</th>
          <th>Thưởng</th>
          <th>Lương hàng tháng</th>
        </tr>
        {% for nv in ds_nv %}
        <tr>
          
          <td>{{ma_nv}}</td>
          <td>{{ho_ten}}</td>
          <td>{{luong_cb}}</td> 
          <td>{{so_gio_lam}}</td>
          <td>{{so_sp}}</td>
          <td>{{he_so_cv}}</td>
          <td>{{thuong}}</td>
          <td>{{luong_ht}}</td>
          
        </tr>
        {%endfor%}
        <!-- Thêm các dòng khác tương tự -->
      </table>
    </main>
  </body>
</html>
